@inherits HitchARideWebPage
@using Connect.DNN.Modules.HitchARide.Common;
@{
    HitchARideModuleContext.AddModuleScript();
    HitchARideModuleContext.AddBootstrapCss();
    HitchARideModuleContext.AddBootstrapJs();
}
<div class="connectHitchARide" 
     data-rides="@(Newtonsoft.Json.JsonConvert.SerializeObject(Connect.HitchARide.Core.Repositories.RideRepository.Instance.GetRides(Dnn.ActiveModule.ModuleID)))"
     data-moduleid="@Dnn.ActiveModule.ModuleID"
     data-security="@(Newtonsoft.Json.JsonConvert.SerializeObject(HitchARideModuleContext.Security))"
     data-resources="@SerializedResources()">
</div>

