@inherits HitchARideWebPage
@using Connect.DNN.Modules.HitchARide.Common;
@{
    HitchARideModuleContext.AddModuleScript();
    HitchARideModuleContext.AddBootstrapCss();
    HitchARideModuleContext.AddBootstrapJs();
}
<div class="connectHitchARide">
</div>

